{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Voting App</title>
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Django Voting App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#instructions">Insturctions</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid" style="margin-bottom: 30rem;">
    {{cnt}}
    <div class="row">
      <div class="col-md-6" style="margin:1rem auto 0 auto;">
        <img src="{% static 'main.jpg' %}" alt="" class="img-fluid">
        <div class="card">
          <div class="card-body">
            <form method="GET" action="{% url 'getquerry' %}">
              <div class="form-group">
                <input list="languages" class="form-control" style="margin-bottom: 1rem;" name="languages">
                <datalist id="languages">
                  {% for i in arr %}
                  <option value="{{i}}">
                  {%endfor %}
                </datalist>

              </div>

              <div class="row">
                <div class="col-6">
                  <input type="submit" class="btn btn-success" style="margin:0 0 0 auto;display: block;">
                </div>
                <div class="col-6">
                  <input type="reset" class="btn btn-danger" id="" style="margin: 0 auto 0 0;display: block;">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" style="margin: 2rem auto;">
        <span id="about" class="badge badge-info" style="margin: 0 auto;font-size: 2rem;display: block;">About</span>
        <hr>
        <p class="lead" style="text-align: center;font-size: 2rem;">Pick Your Favourite Language and Vote</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="margin: 2rem auto;">
        <span id="instructions" class="badge badge-warning"
          style="margin: 0 auto;font-size: 2rem;display: block;">Insturctions</span>
        <hr>
        <p class="lead" style="text-align: center;font-size: 2rem;">Select Your Language and See Results</p>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <footer class="fixed-bottom bg-dark text-white text-center">
        <p>Thanks for using our App</p>
      </footer>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>